
* {font-family: sans-serif, Helvetica;}

h1 {
  color: #FFFFFF;
  font-size: 30px;
  font-style: normal;
  text-align: right;
  padding-right: 2%;
}

li {
    display: inline;
    padding-right: 20px;
}

.hero-text-wrapper {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
}

.header-banner {
  padding-top: 10px;
  padding-bottom:10px;
  background-color: rgba(100, 156, 0, 1);
  width: 100%;
}

.headline-figures {
  text-align: center;
  font-size: 25px;
  padding-top: 65px;
}

.balance-feedback p {
  text-align: center;
  font-size: 25px;
}

p.green {
color: rgba(100, 156, 0, 1);;
}

p.orange {
color: orange;
}

p.red {
color: red;
}

.dashboard-highlight-menu {
padding-top: 0px;
padding-bottom: 0px;
width: 100%;
margin: auto;
text-align: center;
}

.dashboard-highlight-menu p {
  display: inline-block;
  padding:10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(100, 156, 0, .8);
  width: 180px;
  background-color: rgba(100, 156, 0, .07);
  text-align: center;
 
}
.dashboard-highlight-menu a  {
  text-decoration: none;
  color: rgba(100, 156, 0, 1);
}

.nav-link a{
  text-decoration: none;
  color: rgba(100, 156, 0, 1);
  font-size: 18px;
}

ul {
  text-align: right;
  padding-right:2%;
  margin-top: 0;
}

hr {
  border-color: #F5F5F5;
  width: 80%;
  padding-top: ;
}

hr.transaction-divider {
  border-color: #F5F5F5;
  width: 80%;
  margin-top:30px;
  margin-bottom:30px;

}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-row-buttons {
  display: flex;
  flex-direction: column;
}


.cell1 {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.cell2 {
  flex: 1;
  padding: 10px;
  text-align: left;
  padding-left: 20px;
}

.cell {
  flex: 1;
  padding: 10px;

  font-size: 18px;
  padding-left: 20px;
}

.button-cell{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.category-title {
text-align: center;
font-size:23px;
font-weight: normal;
}

.category-sub-title {
text-align: center;
font-size:23px;
font-weight: normal;
padding-top: 10px;
}


.category-item {
text-align: center;
font-size:23px;
font-weight: normal;
}

.category-font {
  font-size:20px;
  font-weight: normal;
}

input {
  font-size:20px;
  font-weight: normal;
}
select {
  font-size:18px;
  font-weight: normal;
}

.center {

  text-align: center;
}