<div class="category-title"><p>Manage Spending Categories</p></div>


<div class="dashboard-highlight-menu">

<p><a href="/categories/new">Create a New Category</a></p>

</div>


<% @categories.each do |category| %>

<div class="category-font center"><%= category.name %></div>


<div class="grid-row">
<div class="cell1">
<form method="GET" action="/categories/<%= category.id %>/edit">
  <input class="button" type="submit" value="Edit">
</form>
</div>

<div class="cell2">
<form method="POST" action="/categories/<%= category.id %>/delete">
  <input class="button" type="submit" value="Delete">
</form>
</div>

</div>



<hr />

<% end %>


