<div class="category-title"><p>Create New Spending Category</p></div>


<form method="POST" action="/categories">

<div class="grid-row">
<div class="cell1 category-font"><label for="name">Category Name:</label></div>
 <div class="cell2 category-font"><input type="text" id = "name" name="name"/></div>
  </div>


  <div class="grid-row">
  <div class="button-cell">
  <input type="submit" value="Create New Category"/>
  </div>
  </div>


</form>
