<p>Your transaction has been created.</p>



<p>Details:</p>

<p>Amount: £ <%= @transaction.amount %></p>
<p>Category: <%= @categories.name %></p>
<p>Merchant Name: <%= @transaction.merchant_name %></p>

