<div class="category-title"><p>Your Transaction Has Been Created</p></div>


<div class="category-item category-font">

<p>Amount: £ <%= sprintf("%20.2f", @transaction.amount) %></p>
<p>Category: <%= @categories.name %></p>
<p>Merchant Name: <%= @transaction.merchant_name %></p>
</div>
