<div class="category-title"><p>All Transactions</p></div>

<% @categories.each do |category| %>

<% title = true %>

<% @transactions.each do |transaction| %>

<% if transaction.category_id == category.id %>

<% if title  %>
<%= "#{category.name}:</p>" %>
<% end %>
<% title = false %>

<p><%=transaction.merchant_name %> : £ <%=transaction.amount %> </p>
<% end %>


<% end %>

<% end %>