<div class="category-title"><p>All Transactions</p></div>

<% @categories.each do |category| %>

<% title = true %>

<% @transactions.each do |transaction| %>

<% if transaction.category_id == category.id %>

<% if title  %>
<div class="category-title"><p><%= "#{category.name}" %></p></div>
<% end %>
<% title = false %>

<div class="grid-row">

<div class="cell1 category-font"><%= "#{transaction.merchant_name} and #{transaction.new_function}" %> :</div>
<div class="cell2 category-font">£ <%=transaction.amount %> </div>

</div>


<% end %>




<% end %>



<% end %>