<div class="category-title"><p>Create New Transaction</p></div>

<form method="POST" action="/transactions">

<div class="grid-row">
<div class="cell1 category-font"><label for="merchant_name">Merchant Name:</label></div>
 <div class="cell2 category-font"><input type="text" id = "merchant_name" name="merchant_name"/></div>
  </div>

  <div class="grid-row">
  <div class="cell1 category-font"><label for="amount">Amount</label></div>
  <div class="cell2 category-font"><input type = "number" name="amount" id="amount"/></div>
</div>

  <div class="grid-row">
  <div class="cell1 category-font"><label for="category_id">Transaction Category:</label></div>

  <div class="cell2 category-font"><select id="category_id" name="category_id">
    <% @categories.each do |category| %>
    <option value=<%="'#{category.id}'>#{category.name}"%></option>
    <% end %>
  </select>
</div>
</div>


  <div class="grid-row">
  <div class="button-cell">
  <input type="submit" value="Create Transaction"/>
  </div>
  </div>


</form>

