<div class="category-title">
<p>Edit Your Total Spending Target</p>
</div>

<form method="POST" action="/budgets/<%= @budget.id %>/update">

<div class="grid-row">
<div class="cell1 category-font">

<label for="total_budget">Spending Target : </label></div>

<div class="cell2 category-font">
<input type = "number" name="total_budget" id="total_budget" value=<%= sprintf("%20.2f", @budget.total_budget) %> />
</div>
</div>

<div class="grid-row">
<div class="button-cell">

<input type="submit" value="Set New Target"/>
</div>
</div>


</form>

