<p>Edit your total spending target:</p>

<form method="POST" action="/budgets/<%= @budget.id %>/update">


<label for="total_budget">Total budget : </label>
<input type = "number" name="total_budget" id="total_budget" value=<%= @budget.total_budget %> />

<input type="submit" value="Set New Budget"/>

</form>

